<table class="table table-bordered">
    <tr>
        
        <th>Id</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Estado</th>
        <th>Lances</th>
        <th>Ações</th>
    </tr>
<% @products.each do |product| %>
 <% if (@auction.product_ids.include?(product.id) || (product.flag == true)) %> 
    <tr>
        
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.state %></td>
        <td>...</td>
        <td>
            <div class="">
                <% if @auction.product_ids.include?(product.id) %>
                    <%= form_with(url: admins_auction_delete_product_url(product_id: product.id, auction_id: @auction.id), html: {class: 'form-inline'}) do |f| %> 
    <%= f.hidden_field :product_id, value: product.id %>
    <%= f.submit "Remover", class: 'btn btn-sm btn-info' %>
<% end %>
                <% else %>
                    <%= form_with(url: admins_auction_add_product_url(@auction), html: {class: 'form-inline'}) do |f| %>
    <%= f.hidden_field :product_id, value: product.id %>
    <%= f.submit "Adicionar", class: 'btn btn-primary' %>
<% end %>
                <% end %>    
            </div> 
        </td>
    </tr>
<% end %>
<% end %>      
</table>   