    <!-- Page Content -->
      <!-- Portfolio Item Heading -->
      <div class="row">
        <div class="col-md-8">
          <h2><%= @auction.title %></h1>    
        </div>
        <div class="col-md-4 align-right">
          <%= link_to "Edit", edit_admins_auction_url(@auction.id), class: 'btn btn-sm btn-warning' %>
          <%= link_to 'Delete', admins_auction_path(@auction.id),
                              data: {confirm: 'Voce tem certeza que deseja apagar?'},
                              :method => :delete,
                              class: 'btn btn-sm btn-danger' %>  
        </div>
        
      </div>
      

      <!-- Portfolio Item Row -->
      <div class="row">
          <div class="col-md-8">
             <% if !@auction.image.blank? %>
                <%= image_tag(@auction.image.url(:medium)  , :style => "max-height: 430px !important") %>
                
             <% else %>
                <img src="/images/fallback/default.png">
             <% end %>   
          </div>
          <div class="col-md-4">
            <h3 class="my-3">Data de Inicio</h3>
            <p><%= @auction.begin_date %></p>
            <h5><strong>Data de fim: </strong><%= @auction.end_date %></h5>
            <h5> <strong>Lances: </strong></h5>
            <table class="table table-bordered">
	            <tr>
	            	<th>Nome</th>
	            	<th>Lance</th>
	            </tr>
	            <tr>
	            	<td>João da Silva</td>
	            	<td>R$ 100,00</td>	            	
	            </tr>
	            <tr>
	            	<td>Maria Santos</td>
	            	<td>R$ 95,00</td>
	            </tr>
            </table>          
          </div>
      </div>
      <!-- /.row -->
      <!-- Related Projects Row -->
      
        <h3 class="my-4">Imagens dos Produtos desse Leilao</h3>
         <% @auction.products.each do |product| %>
          <h2><%= product.name %></h2>  
        <div class="row">
          
              <% product.images.each do |image| %>
                <div class="col-md-3 col-sm-6 mb-4">
                  <a href="#" >
                      <%= link_to  product_path(product, :id=> product.id) do %>  
                          <%= image_tag(image.url(:medium)) %>
                      <% end %>   
                  </a>
                  </div>
             <% end %> 
          
        </div>
        <% end %>
      
    <!-- /.row -->    

