<div class="container-fluid">


   
 
  <!-- Portfolio Item Row -->
  <div class="card card-auctions">

 
 
   <div class="row">

    
 
  <% @auctions.each do |auction| %>

   <div class="col-md-4 col-sm-6">

       <div class="card" style="height: 500px;">
        
        <!--Card image-->
        <% if !auction.image.blank? %>
           <%= image_tag(auction.image.url(:medium), :style => "height: 180px !important") %>
           
        <% else %>
           <img src="/images/fallback/default.png">
        <% end %>
        </a>         
        <hr> 
        <!--Card content-->
        <div class="card-body"> 
            <!--Title-->
            <h4 class="card-title"><%= auction.title %></h4>
            <!--Text-->

            <p class="card-text">Status: </p>
            <p class="card-text">Qtde de Itens: <strong> XXX </strong></p>
            
           <%= link_to "Ver produtos", edit_home_path(auction.id), class: 'btn btn-success btn-lg' %>
           
        </div>
      </div>
    </div>
    <% end %>




  </div>
  <!-- /.row -->
</div>
  <!-- Related Projects Row -->
  <h3 class="my-4">Produtos em destaque</h3>

  <div class="row">

    <% @products.each do |product| %>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card" style="height: auto;">

        <!--Card image-->
        <% if !product.images.first.blank? %>
           <%= image_tag(product.images.first.url(:medium), :style => "height: 180px !important") %>
            
        <% else %>
           <img src="/images/fallback/default.png">
        <% end %>
           

        </a>        
        <hr> 
        <!--Card content-->
        <div class="card-body">   
            <!--Title-->
            <h4 class="card-title"><%= truncate(product.name, length: 15)%></h4> 
            <!--Text--> 
            
            <p class="card-text"><%= truncate(product.description, length: 35) %></p>
            <% y = 0 %>
            <% @li = 0 %>
            <% @ui = 0 %>
             <% @launches.each do |launch| %>
              <% if (launch.product_id == product.id) %>
                 
                 <% if launch.price > y  %>  
                    <% y = launch.price %>
                    
                    <% @li = launch.id %>
                  <% end %>
              <% end %>
             <% end %>
             <% @uls.each do |ul| %>
                  <% if @li!=0  && ul.launch_id == @li%>
                    <% @ui = ul.user_id %>
                   
                  <% end %>  
             <% end %>
             <% @users.each do |u| %>
                  <% if @ui!=0  && u.id == @ui %>
                    <% @name = u.name %>
                   
                  <% end %>  
             <% end %>
             
            
              <% if y == 0 %>
                  
                  <p>Valor Inicial: <strong><%= product.price %></strong></p>
             <% else %>
            
             <p class="card-text">Lance atual: <strong>
              <%= y %>
             
             <%end%>
             
           </strong></p>
            
            </strong></p>
           <%= link_to "Show", product_url(product.id), class: 'btn btn-sm btn-info' %>    
            <% if user_signed_in? %>
              
                <%= simple_form_for @launch do |f| %>
                  <%= f.input_field :current_user_id, as: :hidden, value: current_user.id%>
                 <%= f.input_field :product_id, as: :hidden, value: product.id%>
                   <p class="card-text"><%= f.input :price  %></p>    
                    <p class="card-text" style="padding-top: 15px;"><%= f.submit 'Efetuar Lance', class: "btn btn-info " %></p>            
                     
                  <% end %> 
              <% else %>
                  <%= link_to "Dar lance", '#', class: 'btn btn-info' %>

              <% end %>

        </div>
      </div>
    </div>
    <% end %>


    </div>

  </div>
  <!-- /.row -->
 

</div>
