<h3>Produtos</h3>

<table class="table table-bordered">
    <tr>
        
        <th>Id</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Estado</th>
        <th>Lances</th>
        <th>Ações</th>
    </tr>
<% @products.each do |product| %>
    <tr>
        
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.state %></td>
        <td>...</td>
        <td>
            <div class="btn-group">
                <%= link_to "Show", admins_product_url(product.id), class: 'btn btn-sm btn-info' %>
                <%= link_to "Edit", edit_admins_product_url(product.id), class: 'btn btn-sm btn-warning' %>
                <%= link_to 'Delete', admins_product_path(product.id),
                                    :confirm => 'Are you sure?',
                                    :method => :delete,
                                    class: 'btn btn-sm btn-danger' %>

            </div>
        </td>
    </tr>
<% end %>      
</table>

