<h3>Produtos</h3>
<% @products.each do |product| %>
<table class="table table-bordered">
    <tr>
        
        <th>Id</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Estado</th>
        <th>Lances</th>
        <th>Ações</th>
    </tr>

    <tr>
        
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.state %></td>
        <td>...</td>
        <td>            <a href="" class="btn btn-xs btn-info"></a></a>
            <a class="btn btn-xs btn-warning"></a></a>
            <%= link_to "Editar", edit_admins_product_url(product.id) , :class => 'btn btn-xs btn-info' %>
            <a class="btn btn-xs btn-danger"></a></a></td>
        <td> 

        	</td>
    </tr>
      
</table>
<% end %>
