<!-- Footer -->
    <footer class="bg-warning">
     <div class="container">
       <div class="row">
       
                <div class="col-md-4 col-sm-6 col-xs-12">
             
                  <%= image_tag("logo-oa-warning.png")%>
                </div>
                
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="menu">
                         <span>Menu</span>    
                         <li>
                            <%= link_to "Home", root_path %>
                            
                          </li>
                               
                          <li>
                             <%= link_to "Leilões", auctions_path %>
                          </li>
                               
                          <li>
                            <%= link_to "Produtos", products_path %>
                          </li>
                     </ul>
                </div>
           
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="adress">
                        <span>Contact</span>       
                        <li>
                           <%= link_to "Email", contacts_path%>
                        </li> 
                   </ul>
               </div>
           
           
           </div> 
        </div>
        <div class="container">
        	<p class=" adress text-center ">Copyright &copy; Online Auction 2017</p>
      </div>
    </footer>