<!-- Footer -->
    <footer class="bg-warning">
     <div class="container">
       <div class="row">
       
                <div class="col-md-3 col-sm-6 col-xs-12">
             
                  <%= image_tag("logo-oa-warning.png")%>
                </div>
                
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="menu">
                         <span>Menu</span>    
                         <li>
                            <%= link_to "Home", root_path %>
                            
                          </li>
                               
                          <li>
                             <%= link_to "Leilões", auctions_path %>
                          </li>
                               
                          <li>
                            <%= link_to "Produtos", products_path %>
                          </li>
                          <li>
                           <%= link_to "Contato", contacts_path%>
                          </li> 
                 
                     </ul>
                </div>
           
                <div class="col-md-5 col-sm-6 col-xs-12">

                <div class="search-text bg-warning"> 
                
                    <div class="row text-center">
         
                      <div class="form">
                        <h4>Quer receber nossas novidades?!</h4>
                        <form id="search-form" class="form-search form-horizontal">
                          <input type="text" class="input-search" placeholder="Endereço de Email  ">
                          <button type="submit" class="btn-search">ENVIAR</button>
                        </form>
                      </div>        
                
                  </div>     
                </div>
               </div>
           
           
           </div> 
        </div>
        <div class="container">
        	<h6>Copyright &copy; Online Auction 2017</h6>
      </div>
    </footer>